<a href="https://colab.research.google.com/github/sanderjenk/Predicting-PL-Fantasy/blob/main/fpl_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# valin harjutamiseks Harry Kane'i eelmise hooaja
path = "./Fantasy-Premier-League-master/data/2019-20/players/Harry_Kane_338/gw.csv"

In [ ]:
# loen faili sisse
stats = pd.read_csv(path)
# näitan kõiki tulpasid
pd.set_option("display.max_columns", None)

In [ ]:
stats.head(10)

,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
0,0,3,50,0,24.1,338,6,1,2,18.3,64.2,2019-08-10T16:30:00Z,90,2,0,0,0,0,1,0,1591131,1,3,95.0,13,0,0,0,110,True,0
1,0,0,4,0,1.8,338,16,2,0,0.6,0.4,2019-08-17T16:30:00Z,90,11,0,0,0,0,2,0,1784749,2,2,4.0,2,-42147,115756,157903,110,False,0
2,0,0,0,0,2.8,338,28,1,0,1.0,0.0,2019-08-25T15:30:00Z,90,13,0,0,0,0,3,0,2082179,1,0,8.0,2,219781,329010,109229,110,True,0
3,0,0,23,0,11.8,338,31,2,1,9.1,40.8,2019-09-01T15:30:00Z,90,1,0,0,0,0,4,0,1668519,2,2,38.0,6,-397988,38741,436729,111,False,0
4,1,0,22,1,18.0,338,48,0,0,4.6,22.8,2019-09-14T14:00:00Z,84,7,0,0,0,0,5,0,1563580,0,4,5.0,5,-143485,58747,202232,110,True,0
5,0,2,28,0,2.9,338,56,2,1,13.9,50.4,2019-09-21T11:30:00Z,90,9,0,0,0,0,6,0,1384001,1,2,86.0,8,-185553,13726,199279,110,False,0
6,0,2,30,0,1.3,338,69,1,1,7.0,37.2,2019-09-28T14:00:00Z,90,16,0,0,0,0,7,0,1400676,1,2,31.0,8,-4040,76232,80272,110,True,0
7,0,0,6,0,28.8,338,72,3,0,4.5,4.6,2019-10-05T11:30:00Z,90,4,0,0,0,0,8,0,1377432,0,3,12.0,2,-28232,40325,68557,110,False,0
8,0,0,2,0,2.8,338,89,1,0,5.1,4.0,2019-10-19T14:00:00Z,90,18,0,0,0,0,9,0,1311565,1,1,44.0,2,-73103,45430,118533,109,True,0
9,0,1,26,0,10.8,338,94,2,1,6.5,34.8,2019-10-27T16:30:00Z,90,10,0,0,0,0,10,0,1142397,1,2,19.0,7,-166271,8722,174993,109,False,0

In [ ]:
# viskan välja enda hinnangul ebavajalikud tulbad:
# element - mängija ID
# fixture - mängu ID
# kickoff_time - mängu algus
# round - raundi number
# selected - mitu inimest mängija valinud on
# transfers_in - mitu inimest juurde võttis eelmise nädalaga võrreldes
# transfers_out - mitu inimest ära andis eelmise nädalaga võrreldes
# transfers_balance - eelmiste vahe

stats_edited = stats.drop(["element", "fixture", "kickoff_time", "round", "selected", "transfers_in", "transfers_out", "transfers_balance"], axis=1)

In [ ]:
stats_edited.head(10)

,assists,bonus,bps,clean_sheets,creativity,goals_conceded,goals_scored,ict_index,influence,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,saves,team_a_score,team_h_score,threat,total_points,value,was_home,yellow_cards
0,0,3,50,0,24.1,1,2,18.3,64.2,90,2,0,0,0,0,0,1,3,95.0,13,110,True,0
1,0,0,4,0,1.8,2,0,0.6,0.4,90,11,0,0,0,0,0,2,2,4.0,2,110,False,0
2,0,0,0,0,2.8,1,0,1.0,0.0,90,13,0,0,0,0,0,1,0,8.0,2,110,True,0
3,0,0,23,0,11.8,2,1,9.1,40.8,90,1,0,0,0,0,0,2,2,38.0,6,111,False,0
4,1,0,22,1,18.0,0,0,4.6,22.8,84,7,0,0,0,0,0,0,4,5.0,5,110,True,0
5,0,2,28,0,2.9,2,1,13.9,50.4,90,9,0,0,0,0,0,1,2,86.0,8,110,False,0
6,0,2,30,0,1.3,1,1,7.0,37.2,90,16,0,0,0,0,0,1,2,31.0,8,110,True,0
7,0,0,6,0,28.8,3,0,4.5,4.6,90,4,0,0,0,0,0,0,3,12.0,2,110,False,0
8,0,0,2,0,2.8,1,0,5.1,4.0,90,18,0,0,0,0,0,1,1,44.0,2,109,True,0
9,0,1,26,0,10.8,2,1,6.5,34.8,90,10,0,0,0,0,0,1,2,19.0,7,109,False,0

In [ ]:
# hakkan looma järgmise nädala punktide listi
# eraldan mängijate punktid nädalate kaupa
points_next_week = list(stats_edited["total_points"])
# eemaldan esimese nädala skoori, sest seda ei ennustata millegi põhjal
del points_next_week[0]
# käimasoleva nädala lahtrisse panen -1, sest seda ei oska öelda
points_next_week.append(-1)
print(points_next_week)
# lisan dataframe'i
stats_edited["points_next_week"] = points_next_week

[2, 2, 6, 5, 8, 8, 2, 2, 7, 0, 2, 6, 2, 2, 16, 1, 2, 8, 8, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 5, 7, 2, 2, 2, 12, 13, 9, -1]

In [ ]:
stats_edited.head(10)

,assists,bonus,bps,clean_sheets,creativity,goals_conceded,goals_scored,ict_index,influence,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,saves,team_a_score,team_h_score,threat,total_points,value,was_home,yellow_cards,points_next_week
0,0,3,50,0,24.1,1,2,18.3,64.2,90,2,0,0,0,0,0,1,3,95.0,13,110,True,0,2
1,0,0,4,0,1.8,2,0,0.6,0.4,90,11,0,0,0,0,0,2,2,4.0,2,110,False,0,2
2,0,0,0,0,2.8,1,0,1.0,0.0,90,13,0,0,0,0,0,1,0,8.0,2,110,True,0,6
3,0,0,23,0,11.8,2,1,9.1,40.8,90,1,0,0,0,0,0,2,2,38.0,6,111,False,0,5
4,1,0,22,1,18.0,0,0,4.6,22.8,84,7,0,0,0,0,0,0,4,5.0,5,110,True,0,8
5,0,2,28,0,2.9,2,1,13.9,50.4,90,9,0,0,0,0,0,1,2,86.0,8,110,False,0,8
6,0,2,30,0,1.3,1,1,7.0,37.2,90,16,0,0,0,0,0,1,2,31.0,8,110,True,0,2
7,0,0,6,0,28.8,3,0,4.5,4.6,90,4,0,0,0,0,0,0,3,12.0,2,110,False,0,2
8,0,0,2,0,2.8,1,0,5.1,4.0,90,18,0,0,0,0,0,1,1,44.0,2,109,True,0,7
9,0,1,26,0,10.8,2,1,6.5,34.8,90,10,0,0,0,0,0,1,2,19.0,7,109,False,0,0

In [ ]:
# eraldan kasutatavad ja ennustatava tunnuse
X = stats_edited.drop("points_next_week", axis=1)
y = stats_edited.points_next_week

# võtan esimesed 30 nädalat testhulgaks ja viimased 8 treeninghulgaks
X_train = X.iloc[:30]
y_train = y.iloc[:30]
X_test = X.iloc[30:].reset_index(drop=True)
y_test = y.iloc[30:].reset_index(drop=True)

In [ ]:
# proovin esialgu tavalist random forest regressorit
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor().fit(X_train, y_train)
predictions = model.predict(X_test)

for i in range(len(predictions)):
    print("Ennustatud:", round(predictions[i],2),"| Tegelik:", y_test[i])

Ennustatud: 5.06 | Tegelik: 7
Ennustatud: 3.92 | Tegelik: 2
Ennustatud: 5.12 | Tegelik: 2
Ennustatud: 5.18 | Tegelik: 2
Ennustatud: 4.0 | Tegelik: 12
Ennustatud: 4.28 | Tegelik: 13
Ennustatud: 4.76 | Tegelik: 9
Ennustatud: 3.68 | Tegelik: -1